.the-menu-wrapper {
	.wrapper-styles;

	.container {
		text-align: center;

		.the-menu {
			display: inline-block;
			font-family: 'aleobold', sans-serif;
			color: white;
			font-size: 20px;
			padding: 15px 15px 30px;
			width: 155px;
			background: url("../img/the-menu-shape.jpg") no-repeat center bottom;
			background-color: @red;
		}
	}
}

.rest-menu-wrapper {
	.wrapper-styles;
	padding: 80px 0 30px;


	.left-box {
		.make-xs-column(12);
		.make-sm-column(6);
		.make-md-column(6);
		.make-lg-column(6);
		padding-left: 0;
		padding-right: 60px;

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			padding-right: 20px;
		}

		@media (max-width: @screen-xs-max) {
			padding: 0;
		}
	}

	.right-box {
		.make-xs-column(12);
		.make-sm-column(6);
		.make-md-column(6);
		.make-lg-column(6);
		padding-left: 60px;
		padding-right: 0;

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			padding-left: 20px;
		}

		@media (max-width: @screen-xs-max) {
			padding: 0;
			margin-top: 25px;
		}
	}

	.menu-item {
		margin-top: 40px;

		@media (max-width: @screen-xs-max) {
			.wrapper-styles;
			margin-top: 25px;
		}

		&:first-of-type {
			margin-top: 0;
		}

		> div {
			display: inline-block;
		}

		.item-info {

			h3 {
				letter-spacing: 1px;
				font-size: 24px;
				margin: 0 0 5px;

				@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
					font-size: 20px;
				}

				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					font-size: 14px;
				}

				@media (max-width: @screen-xs-max) {
					.wrapper-styles;
				}
			}

			small {
				color: @gray;
				font-size: 12px;
				font-style: italic;

				@media (max-width: @screen-xs-max) {
					.wrapper-styles;
				}
			}
		}

		.gray-lined {
			height: 25px;
			min-width: 25%;
			float: right;

			@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
				min-width: 10%;
			}
		}

		.item-price {
			letter-spacing: 1px;
			font-size: 18px;
			padding-left: 30px;
			float: right;

			@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
				font-size: 14px;
				padding-left: 15px;
			}
		}
	}

	.show-more-content {
		.wrapper-styles;
		margin-top: 40px;

		&.disabled {
			display: none;
		}
	}

	.show-more-wrapper {
		.wrapper-styles;
		margin-top: 80px;
		text-align: center;

		.show-more {
			border: 1px solid @gray;
			color: @gray;
			padding: 8px 0;
			.border-radius(2px);
			.transition(all .3s linear);

			span {
				padding: 0 10px 0 12px;
				border-right: 1px solid @gray;
				.transition(border .3s linear);
			}

			i {
				padding: 0 12px 0 10px;
			}

			&:hover, &:focus {
				color: @black !important;
				border: 1px solid @black !important;
				cursor: pointer;

				span {
					border-right: 1px solid @black;
				}
			}
		}
	}
}

.featured-wrapper {
	.wrapper-styles;
	margin: 80px 0 20px;

	.header {
		.wrapper-styles;

		h2 {
			display: inline-block;
			text-transform: uppercase;
			font-family: 'aleobold', sans-serif;
			margin: 0;
		}

		.gray-lined {
			display: inline-block;
			height: 33px;
			width: 20%;
			margin-left: 25px;
			position: relative;
			top: 5px;
		}
	}

	.owl-wrapper {
		.wrapper-styles;
		margin: 50px 0;


		.dish-desc {
			.wrapper-styles;
			margin-top: 15px;

			img {
				.img-responsive;
			}

			p {
				margin-bottom: 5px;
			}

			.dish-price {
				float: right;
				padding-left: 15px;
			}
		}

		.dish-rating {

			i {
				font-size: 12px;
				color: @gray;
			}

			&.one {
				i:nth-child(1) {
					color: #f1df1a;
				}
			}
			&.two {
				i:nth-child(-n + 2) {
					color: #f1df1a;
				}
			}
			&.three {
				i:nth-child(-n + 3) {
					color: #f1df1a;
				}
			}
			&.four {
				i:nth-child(-n + 4) {
					color: #f1df1a;
				}
			}
			&.five {
				i:nth-child(-n + 5) {
					color: #f1df1a;
				}
			}
		}

		.owl-dots {
			position: absolute;
			right: 0;
			top: -78px;
			z-index: 1;

			.owl-dot {
				width: 10px;
				height: 10px;
				.border-radius(50%);
				background-color: #dedede;
				display: inline-block;
				margin: 5px;

				&.active {
					background-color: #9b9b9b;
				}
			}
		}
	}
}

.gallery-wrapper {
	.wrapper-styles;
	margin: 80px 0 80px;

	@media (max-width: @screen-xs-max) {
		margin: 0 0 50px;
	}

	.header {
		.wrapper-styles;

		h2 {
			display: inline-block;
			text-transform: uppercase;
			font-family: 'aleobold', sans-serif;
			margin: 0;
		}

		.gray-lined {
			display: inline-block;
			height: 33px;
			width: 20%;
			margin-left: 25px;
			position: relative;
			top: 5px;
		}
	}

	.gallery {
		.wrapper-styles;
		margin-top: 50px;

		@media (max-width: @screen-xs-max) {
			margin-top: 20px;
		}

		a:nth-of-type(4) img {
			@media (max-width: @screen-sm-max) {
				clear: both;
			}
		}

		img {
			.img-responsive;
			float: left;

			@media (max-width: @screen-sm-max) {
				max-width: 50%;
			}
		}
	}
}

.white-lined {
	background: url("../img/icons/white-line.jpg") repeat-x center;
}
.gray-lined {
	background: url("../img/icons/gray-line.jpg") repeat-x center;
}

// lightbox images paths

body:after {
	content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png) !important;
}

.lb-data .lb-close {
	background: url(../img/close.png) top right no-repeat !important;
}

.lb-nav a.lb-prev {
	background: url(../img/prev.png) left 48% no-repeat !important;
}

.lb-nav a.lb-next {
	background: url(../img/next.png) right 48% no-repeat !important;
}

.lb-cancel {
	background: url(../img/loading.gif) no-repeat !important;
}