.footer {
	.wrapper-styles;
	margin-top: 30px;
	background-color: #3b3b3b;
	color: white;
	padding: 85px 0 65px;

	@media (max-width: @screen-xs-max) {
		padding: 25px 0 25px;
	}

	.footer-column {
		.make-xs-column(12);
		.make-sm-column(3);
		.make-md-column(3);
		.make-lg-column(3);

		@media (max-width: @screen-xs-max) {
			padding: 0;
			margin-top: 20px;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				margin-bottom: 10px;

				a {
					color: white;
					font-weight: bold;
					padding-left: 10px;
					border-left: 2px solid transparent;
					border-bottom: 0;

					@media (max-width: @screen-xs-max) {
						padding-left: 0;
						border-left: 0;
					}

					&:hover, &:focus {
						border-left: 2px solid white;
						border-bottom: 0;

						@media (max-width: @screen-xs-max) {
							border: 0;
						}
					}
				}
			}
		}

		&.copy {

			img {
				margin-bottom: 20px;
			}

			a {
				color: white;
				font-weight: bold;
				padding-bottom: 2px;
				border-bottom: 2px solid transparent;

				&:hover, &:focus {
					border-bottom: 2px solid white;
				}
			}
		}
	}
}