*{
   margin: 0;
   padding: 0;
}
html, body{
    font-family: 'aleoregular', sans-serif;
	height: 100%;
	color: @black;
	font-size: 16px;
	letter-spacing: 1px;
}

.container {

	@media (min-width: 1200px) {
		width: 1130px !important;
	}
}

.wrapper-styles {
	float: left;
	width: 100%;
}

a {
	color: @black;
	border-bottom: 1px solid transparent;
	.transition(all .2s linear);

	&:hover, &:focus {
		outline: 0;
		text-decoration: none;
		color: @black;
		border-bottom: 1px solid @black;
	}
}

/* start of sticky footer */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -@pushHeight;
}

footer, .push {
	height: @pushHeight; 
}
/* end of sticky footer */

/* placeholders default color */
&::-webkit-input-placeholder {
	color: @placeholderColor;
}

&:-moz-placeholder { /* Firefox 18- */
	color: @placeholderColor;  
}

&::-moz-placeholder {  /* Firefox 19+ */
	color: @placeholderColor;  
}

&:-ms-input-placeholder {  
	color: @placeholderColor;  
}

