.menu-wrapper {
	.wrapper-styles;
	position: fixed;
	top: 0;
	left: 0;
	.transition(all .2s linear);
	height: 73px;
	z-index: 2;
	background: white;

	@media (max-width: @screen-xs-max) {
		position: absolute;
	}

	.navbar {
		padding: 20px 0;
		margin: 0;
		.box-shadow(0px 5px 5px 0px rgba(50, 50, 50, 0.1));
		.transition(all .2s linear);

		@media (max-width: @screen-xs-max) {
			border: 0;
		}

		.container {
			@media (max-width: @screen-xs-max) {
				padding: 0;
			}
		}

		.navbar-header {
			@media (max-width: @screen-xs-max) {
				margin: 0;
				padding: 0 15px;
			}
		}

		.navbar-brand {
			background: url("../img/logo.png") no-repeat center;
			width: 86px;
			height: 31px;

			&:hover, &:focus {
				border: 0;
			}
		}

		.nav {
			margin-top: 5px;

			li {
				margin-left: 35px;
				.transition(all .2s linear);

				&:first-child {
					margin-left: 0;
				}

				a {
					padding: 0 3px 2px;
					font-family: 'aleobold', sans-serif;

					&:hover, &:focus {
						background: transparent;
						border-bottom: 2px solid @black;
					}
				}
			}
		}

		// mobile nav
		@media (max-width: @screen-xs-max) {
			.navbar-collapse {
				.wrapper-styles;
				margin: 0;

				.nav {
					margin-top: 16px;

					li {
						margin: 0;

						a {
							display: block;
							background-color: white;
							padding: 10px 0 10px 15px;
							border-top: 1px solid @gray;
						}
					}
				}
			}
		}
		#nav-toggle {
			padding: 10px 35px 16px 0;
			margin: 2px 0 0;
		}
		#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
			cursor: pointer;
			border-radius: 1px;
			border: 0;
			height: 5px;
			width: 35px;
			background: @black;
			position: absolute;
			display: block;
			content: '';
		}
		#nav-toggle span:before {
			top: -10px;
		}
		#nav-toggle span:after {
			bottom: -10px;
		}

		#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
			transition: all 500ms ease-in-out;
		}
		#nav-toggle.active span {
			background-color: transparent;
		}
		#nav-toggle.active span:before, #nav-toggle.active span:after {
			top: 0;
		}
		#nav-toggle.active span:before {
			transform: rotate(45deg);
		}
		#nav-toggle.active span:after {
			transform: rotate(-45deg);
		}
	}

	&.menu-wrapper-shrink {
		background: white;

		.nav {

			li {
				margin-left: 55px;
			}
		}
	}
}

.header-img-wrapper {
	.wrapper-styles;
	margin-top: 73px;
	background: url("../img/header-big-img.jpg") no-repeat;
	background-size: cover;
	height: 570px;
	border-bottom: 5px solid @red;

	@media (max-width: @screen-xs-max) {
		height: 400px;
		margin-top: 43px;
	}

	.big-text {
		.wrapper-styles;
		text-align: center;
		margin: 150px 0 30px;

		img {
			.img-responsive;
			display: inline-block;
		}
	}

	.small-text {
		.wrapper-styles;
		text-align: center;
		color: white;
		letter-spacing: 2px;

		.white-lined {
			height: 22px;
			width: 40px;
			display: inline-block;
			margin: 0 20px;
			position: relative;
			top: 5px;
		}

		p {
			margin: 0;
			display: inline-block;
		}
	}
}