//Colors
@black: #3b3b3b;
@placeholderColor: #677274;
@red: #f34949;
@gray: #b7b7b7;

//Paths
@urlIcons: "../images/icons/icons.png";
@urlSocials: "../images/icons/socials.png";
@fa-font-path: "../fonts"; // path for Fontawesome icons
@icon-font-path: "../fonts/"; // path for Bootstrap (Glyphicons) icons

//Other
@pushHeight: 155px;
